apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-nodejs-poweqezl
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-nodejs-poweqezl:aa462e8ae898a5808437473cea75de1a2d2d0ffe@sha256:4ae1e3ae16bac0434f9e04c2023afd6e70d414c954ca95e240ff176883c2a63a
          name: container-image
